@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes backgroundPulse {
    0%,
    100% {
        background-size: 40%;
    }

    50% {
        background-size: 30%;
    }
}

body {
    font-family: "Poppins", sans-serif;
}

.backgroundImage {
    background-color: #101010;
    background-image: url('../images/bg-top.png'), url('../images/bg-bottom.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    animation: backgroundPulse 40s infinite ease-in-out;
}

.backgroundImage2 {
    background-image: url('../images/saib_bg2.png');
    background-position: right -300px bottom -150px;
    background-repeat: no-repeat, no-repeat;
    background-size: 550px;
}

.backgroundImage3 {
    background-image: url('../images/saib_bg.png');
    background-position: right -950px bottom -600px;
    background-repeat: no-repeat, no-repeat;
    background-size: 1800px;
}

.backgroundImage4 {
    background-image: 
        url('../images/saib_bg2.png'),  
        url('../images/saib_bg.png'), 
        url('../images/saib_bg.png'),
        url('../images/saib_bg2.png');
    background-position: 
        left -550px top 800px,
        right -420px top 1100px, 
        left -550px top 1800px,
        right -520px top 1800px;
    background-repeat: no-repeat;
    background-size: 40%;
}

.menuImage {
    background-color: #101010;
    background-image: url('../images/bg-top.png'), url('../images/bg-bottom.png');
    background-position: right top -200px, left -300px bottom -250px;
    background-repeat: no-repeat, no-repeat;
    background-size: 500px, 1000px;
}

@media screen and (max-width: 1460px) {
    .backgroundImage3 {
        background-image: url('../images/saib_bg.png');
        background-position: right -1350px bottom -600px;
        background-repeat: no-repeat, no-repeat;
        background-size: 1800px;
    }
    .backgroundImage4 {
        background-image: 
            url('../images/saib_bg2.png'),  
            url('../images/saib_bg.png'), 
            url('../images/saib_bg.png'),
            url('../images/saib_bg2.png');
        background-position: 
            left -480px top 300px,
            right -570px top 700px, 
            left -480px top 1500px,
            right -520px top 1700px;
        background-repeat: no-repeat;
        background-size: 650px;
    }
}

@media screen and (max-width: 855px) {
    .backgroundImage2 {
        background-image: url('../images/saib_bg2.png');
        background-position: right -300px bottom -300px;
        background-repeat: no-repeat, no-repeat;
        background-size: 550px;
    }

    .backgroundImage3 {
        background-image: url('../images/saib_bg.png');
        background-position: right -800px bottom -600px;
        background-repeat: no-repeat, no-repeat;
        background-size: 1800px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: 70%;
        animation: backgroundPulse 40s infinite ease-in-out;
    }
    @keyframes backgroundPulse {
        0%,
        100% {
            background-size: 80%;
        }
    
        50% {
            background-size: 70%;
        }
    }

    .backgroundImage4 {
        background-image: 
            url('../images/saib_bg2.png'),  
            url('../images/saib_bg.png'), 
            url('../images/saib_bg.png'),
            url('../images/saib_bg2.png');
        background-position: 
            left -600px top 300px,
            right -550px top 700px, 
            left -480px top 1500px,
            right -540px top 1800px;
        background-repeat: no-repeat;
        background-size: 650px;
    }
}

@media screen and (max-width: 639px) {
    .backgroundImage2 {
        background-image: url('../images/saib_bg2.png'), url('../images/saib_bg.png');
        background-position: right -150px bottom -550px, right 260px bottom 250px;
        background-repeat: no-repeat, no-repeat;
        background-size: 550px;
    }
    
    .backgroundImage4 {
        background-image: 
            url('../images/saib_bg2.png'),  
            url('../images/saib_bg.png'), 
            url('../images/saib_bg.png'),
            url('../images/saib_bg2.png');
        background-position: 
            left -600px top 300px,
            right -590px top 700px, 
            left -580px top 1500px,
            right -590px top 1600px;
        background-repeat: no-repeat;
        background-size: 650px;
    }
}

