@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    background-color: #101010;
    background-image: url('../images/bg-top.png'), url('../images/bg-bottom.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    padding-bottom: 300px;
}